.about-wrapper{
    border-bottom: 1px solid #868e96;
}
.about{
   padding-left: 60px;
   padding-right: 350px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.name-container{
    display: flex;
    font-family: 'Saira Extra Condensed'
    ,-apple-system,BlinkMacSystemFont,'Segoe UI'
    ,Roboto,'Helvetica Neue',Arial,sans-serif,
    'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'
    ,'Noto Color Emoji';
    font-weight: 700;
    font-size: 96px;
    line-height: 1px;
    margin-bottom: 25px;
}
.first-name{
    color: #343a40;
    margin-right: 20px;
}
.last-name{
    color: #13294B;
}
.personal-info-location{
    font-family: 'Saira Extra Condensed'
    ,-apple-system,BlinkMacSystemFont,'Segoe UI'
    ,Roboto,'Helvetica Neue',Arial,sans-serif,
    'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'
    ,'Noto Color Emoji';
    font-size: 24px;
    font-weight: 500;
    color: #868e96;
    min-width: 510px;
}
.personal-info-contact{
    color: #13294B;
}
.bio{
    font-family: 'Saira Extra Condensed'
    ,-apple-system,BlinkMacSystemFont,'Segoe UI'
    ,Roboto,'Helvetica Neue',Arial,sans-serif,
    'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'
    ,'Noto Color Emoji';
    font-size: 25px;
    font-weight: 1px;
    color: #868e96;
    margin-bottom: 60px;
    min-width: 510px;
    max-width: 1125px;
}
.about-icons{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 0;
    margin-right: 20px;
    background-color: gray;
    height: 56px;
    width: 56px;
    border-radius: 32px;
    transition: opacity .3s;
}
.about-icons .tooltip-linkedin,
.about-icons .tooltip-github,
.about-icons .tooltip-resume{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gray;
    color: white;
    font-size: 12px;
    margin-top: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s;
    bottom: 210px;
}
.about-icons:hover .tooltip-linkedin,
.about-icons:hover .tooltip-github,
.about-icons:hover .tooltip-resume{
    opacity: 1;
}
.about-icons img{
    margin-top: 0px;
    height: 56px;
}
.about-icons:hover{
    opacity: 0.75;
}
.icon-container{
    min-width: 500px;
}